body {
  font-family: 'Times New Roman', Times, serif;
}

#title, #subtitle {
    text-align: center;
  }

main {
  background-color: lightgray;
  display: flex;
}

#img-div {
  background-color: #ffffff;
}

#tribute-info {

}