body {
  font-family: 'Times New Roman', Times, serif;
}

main {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title, #subtitle {
    text-align: center;
  }

#img-div {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

