body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

main {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

#title, #subtitle {
    text-align: center;
  }

#image {
  margin: 0em 5em;
}

#img-div {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

#key-facts {
  display: flex;
  flex-direction: column;
}

li {
  margin: 1.2%;
}